@media (max-width: 1500px) {
  div.container {
    width: 70dvw;
  }
}
@media (max-width: 1240px) {
  div.container {
    width: 85dvw;
  }
}
@media (max-width: 1000px) {
  div.container {
    width: 98dvw;
  }
}
@media (max-width: 860px) {
  i.printIcon{
    display: block !important;
  }

  div.container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  #qr-code{
    width: 100%;
    order: 1;
    margin-bottom: 25px;
  }
  input.order__input,
  button.print__code,
  button.clear__input{
    order: 2;
    display: flex;
  }

  button.clear__input{
    background: linear-gradient(0deg, #a0fc01, #58ff9e) !important;
  }

  button.print__code,
  button.clear__input{
    order: 2;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }

  input.order__input{
    margin: 0 20px;
  }
  

  button.print__code>p{
    display: none;
  }
}
@media (max-width: 590px) {
  body>h1{
    font-size: 5dvw;
  }
}

@media (max-width: 470px) {
  button.print__code{
    display: none;
  }
}